{# extend base layout #}
{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>{{ _('Edit Your Profile') }}</h1>
{% include 'flash.html' %}
<div class="well">
<form action="" method="post" name="edit" class="form-horizontal">
    {{ form.hidden_tag() }}
    {% for error in form.nickname.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
    {% endfor %}
    <div class="form-group">
      <label for="nickname">{{ _('Your nickname:') }}</label>
      {{ form.nickname(maxlength=64, class=formcontrol) }}
    </div>
    {% for error in form.about_me.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">{{ error }}</div>
    {% endfor %}
    <div class="form-group">
      <label for="about_me">{{ _('About yourself:') }}</label>
      <div class="controls">
        {{ form.about_me(cols=64, rows=4, class="col-md-4") }}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="{{ _('Save Changes') }}">
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}
