{# extend base layout #}
{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>');
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>

    <div class="container">

      <form class="form-signin" method="post" name="login">
        {# form is a template argument #}
        {# here appears a hidden field that implements CSRF prevention #}
        {{ form.hidden_tag() }}
        <h2 class="form-signin-heading">{{ _('Please sign in')}}</h2>
        <div class="help-block">{{ _('Click on your OpenID provider below:') }}</div>
        <div class="form-group">
          {% for pr in providers %}
          <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">
            <img src="/static/img/{{pr.name.lower()}}.png" class="img-thumbnail"
            style="margin:2px;" />
          </a>
          {% endfor %}
        <label for="inputOID">{{ _('Or enter your OpenID here:') }}</label>
        {{ form.openid(id="inputOID", class="form-control", placeholder="Email address or OpenID provider",
                required=1, autofocus=1) }}
        {# validator error messages are in form.field_name.errors #}
        {% for error in form.openid.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        </div>

        <div class="checkbox">
          <label>
            {{ form.remember_me }} {{ _('Remember me') }}
          </label>
        </div>
        {# The submit button is not defined the form class.
        We define it in the Template in HTML. It doesn't carry any Data
        therefore doesn't need to be defined in the class #}
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ _('Sign in') }}</button>
      </form>

    </div> <!-- /container -->
{% endblock %}
